
body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: monospace, sans-serif !important;
    background-color: #13111C;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
}
.generate-button {
    border: none;
    border-radius: .25rem;
    background: rgba(149, 92, 242, 0.50);
    padding: 0.8rem 2rem;
    color: #FFF;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* MEDIAS */

@media screen and (max-height: 730px) {
    #firstInputUser {
        height: 100%;

    }

    .format-title {
        margin-bottom: 0.6rem;
    }

    .all-images img {
        width: 150px;
    }


}

@media screen and (max-width: 860px) {
    .menu-border .menu li a {
        font-size: 1.7vw;
    }

}

@media screen and (max-width: 1014px) {

    .menu li {
        width: 26%;
        font-size: 90%;
        
    }

    .menu-border .logo img {
        margin-left: 0.4rem;
    }

    .menu-border .menu li a { 
        margin: 0;
        
    }

    .menu {
        width: 100%;
    }


    .format-container {
        min-width: 25rem;
    }

    #firstInputUser {

        justify-content: space-between;
    }

    .format-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menu-edit {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    #author-modal {
        justify-content: center;
        margin-top: 1rem;
    } 

    .formats-container {
        width: 100%;
        margin: 0;
    }

    .inputUsername {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-style {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-edit {
     justify-content: center;   
    }
}

@media screen and (max-width: 500px) {
    .container-button {
        display: flex;
        flex-direction: column;
    }

    .menu li a {
        font-size: 10px;
    }

    .logo-container {
        margin-left: 0;
    }

    .loader {
        top: 50%;
    }
}

@media screen and (max-width: 1449px) {
    .format-container {
        width: 70%;
    }
}

@media screen and (max-width: 1280px) {
    .format-container {
        width: 75%;
    }
}

