
body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: monospace, sans-serif !important;
    background-color: #13111C;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
}
.generate-button {
    border: none;
    border-radius: .25rem;
    background: rgba(149, 92, 242, 0.50);
    padding: 0.8rem 2rem;
    color: #FFF;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* MEDIAS */

@media screen and (max-height: 730px) {
    #firstInputUser {
        height: 100%;

    }

    .format-title {
        margin-bottom: 0.6rem;
    }

    .all-images img {
        width: 150px;
    }


}

@media screen and (max-width: 848px) {
    .menu-style {
        flex-direction: column;
    }

    .menu li {
        width: 30% !important;
    }

    #soon {
        display: none;
    }

    .menu-edit {
        flex-direction: column;
        width: fit-content;
        
    }

    #authorModal {
        width: fit-content;
    }
}

@media screen and (max-width: 1014px) {

    .logo-container {
        margin-left: 0.8rem;
    }

    .container-button {
        flex-direction: row !important;
    }

    input[type="range"] {
        width: 20%;
    }

    .menu li {
        width: 26%;
        font-size: 90%;
        
    }

    .menu-border .logo img {
        margin-left: 0.4rem;
    }

    .menu-border .menu li a { 
        margin: 0;
        
    }

    .menu {
        width: 90%;
    }

    .modal-choose-style {
        width: auto;
    }

    .format-container {
        min-width: 25rem;
        width: 100% !important;
    }

    .text-field-mg {
        display: none !important;
    }

    .prompt-input-container {
        width: 90%;
    }

    #firstInputUser {

        justify-content: space-between;
    }

    .format-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menu-edit {
        padding-bottom: 0;
        width: 80%;
    }

    #author-modal {
        justify-content: center;
        width: fit-content;
        margin: 1rem 0;
    } 

    .formats-container {
        width: 90%;
        margin: 0;
    }

    .inputUsername {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-style {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-edit {
     justify-content: center;   
    }
}

@media screen and (max-width: 1460px) {
    .format-container {
        width: 70%;
    }
}

@media screen and (max-width: 657px) {
    .tokens img {
        display: none;
    }

    .tokens {
        width: 60%;
    }
}


@media screen and (max-width: 500px) {
    .container-button {
        display: flex;
        flex-direction: column;
    }

    .logo-container {
        margin-left: 0;
    }

    

    .loader {
        top: 50%;
    }
}

@media screen and (max-width: 1449px) {
    .format-container {
        width: 70%;
    }
}

@media screen and (max-width: 1280px) {
    .format-container {
        width: 75%;
    }
}
