
body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: monospace, sans-serif !important;
    background-color: #13111C;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
}
.generate-button {
    border: none;
    border-radius: .25rem;
    background: rgba(149, 92, 242, 0.50);
    padding: 0.8rem 2rem;
    color: #FFF;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* MEDIAS */


@media screen and (max-width: 700px) {
    body * {
        display: none !important;
    }

    menu * {
        display: none !important;
    }

    .first-profile-container {
        display: none !important;
    }

    .menu-border .menu {
        display: none;
    }

    body::before {
        height: 100%;
        background-image: url('https://res.cloudinary.com/dspqjweej/image/upload/v1698623264/recursos/eating_doritos_vx6obe.jpg');
        background-size: 10rem;
        background-position: top;
        display: flex;
        background-repeat: no-repeat;
        content: "Sólo disponible en PC";
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: rgb(233, 233, 233);
        /* Color del texto */
        margin-top: 10%;
        padding-top: -30%;
        /* Espacio superior para separar del contenido original */
    }
}

@media screen and (max-height: 730px) {
    #firstInputUser {
        height: 100%;

    }

    .format-title {
        margin-bottom: 0.6rem;
    }

    .all-images img {
        width: 150px;
    }


}

@media screen and (max-width: 848px) {
    .menu-style {
        flex-direction: column;
    }

    .menu li {
        width: 40% !important;
    }

    #soon {
        display: none;
    }

    .menu-edit {
        flex-direction: column;
        width: fit-content;
        
    }

    #author-modal {
        width: fit-content;
        margin: 1rem !important;
    }

    
}

@media screen and (max-width: 596px) {
    #container-buttons-generated {
        flex-direction: column;
    }
}

@media screen and (max-width: 579px) {
    #author-modal {
        width: 100% !important;
    }
}

.upButtons {
    display: flex;
}

@media screen and (max-width: 980px) {

    .container-buttons-generated {
        flex-direction: column !important;
    }

    #container-editable {
        /*display: flex !important;*/
        flex-direction: column !important;
    }

    .downButtons {
        display: flex !important;
        justify-content: center !important;
        padding: 1rem !important;
        
    }

    .upButtons {
        display: flex !important;
        justify-content: center !important;
    }
}


@media screen and (max-width: 1014px) {

    .logo-container {
        margin-left: 0.8rem;
    }

    .container-button {
        flex-direction: row !important;
    }

    input[type="range"] {
        width: 20%;
    }

    .menu li {
        width: 26%;
        font-size: 90%;
        
    }

    .menu-border .logo img {
        margin-left: 0.4rem;
    }

    .menu-border .menu li a { 
        margin: 0;
        
    }

    .menu {
        width: 90%;
    }

    .modal-choose-style {
        width: auto;
    }

    .format-container {
        min-width: 25rem;
        width: 100% !important;
    }

    .text-field-mg {
        display: none !important;
    }

    .prompt-input-container {
        width: 90%;
    }

    .format-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menu-edit {
        padding-bottom: 0;
        width: 80%;
    }

    #author-modal {
        justify-content: center;
        width: fit-content;
        margin: 0;
    } 

    .formats-container {
        width: 90%;
        margin: 0;
    }

    .inputUsername {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-style {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-edit {
     justify-content: center;   
    }
}

@media screen and (max-width: 1532px) {
    .format-container {
        width: 70%;
    }
}

@media screen and (max-width: 657px) {

    .menu li a {
        font-size: 0.7rem;
    }

    .tokens img {
        display: none;
        
    }

    .tokens {
        width: 50%;
    }
}


@media screen and (max-width: 500px) {
    .container-button {
        display: flex;
        flex-direction: column;
    }

    .logo-container {
        margin-left: 0;
    }

    

    .loader {
        top: 50%;
    }
}

@media screen and (max-width: 1449px) {
    .format-container {
        width: 70%;
    }
}

@media screen and (max-width: 1280px) {
    .format-container {
        width: 75%;
    }
}


@media screen and (max-width: 285px) {
    .formats-container {
        width: min-content;
    }

    .prompt-input-container {
        width: fit-content;
    }

    #authorName {
        min-width: 76%;
    }

    #contentButton {
        width: 50%;
    }

    .degradado-texto {
        font-size: 14px !important;
    }
}