body {
    height: 100vh;
}
.first-profile-container {
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3rem;
    height: 50%;
}

h1 {
    font-size: 24px;
}

.profile-container {
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.5rem 3rem;
    color: #f2f2f2;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    width: 70%;
    border-radius: 3.25rem;
    border: 1px solid #474747;
    
}

.settings-container {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}

.settings {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}

.profile-container img {
    width: 50px;
    align-items: flex-end;
    display: flex;
}

.email {
    width: 70%;
    color: #121212;
    background-color: #f2f2f2;
    padding: 0.4rem 0.8rem;
    border-radius: 3.25rem;
    margin-top: 0.3rem;
}

.status {
    display: flex;
    align-items: center;
}

.status .starter {
    background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.4rem 1.7rem;
    border-radius: 3.25rem;
}

.renovacion {
    padding-top: 0.5rem;
    text-align: left;
    font-style: italic;
    opacity: 0.7;
}

.img-profile-container {
    align-items: flex-end;
}

.email-container {
    border-top: 0.5px solid rgba(239, 239, 239, 0.5);
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    text-align: start;
}

.tokens {
    background: linear-gradient(81.02deg, rgb(250, 85, 96) -23.47%, rgb(177, 75, 244) 45.52%, rgb(77, 145, 255) 114.8%);
    padding: 0.45rem 1rem;
    border-radius: 3.25rem;
    width: 70%;
}

/* MODAL */
.modal-profile {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(7px);
}

.modal-profile-content {
    color: rgb(242 242 242);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    width: 40%;
    margin: 15% auto;
    background: #121212;;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-profile-content input {
    background-color: #121212;
    color: rgb(151, 151, 151);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #474747;
    border-radius: 5px;
}

.modal-profile-content input:focus {
    box-shadow: inset 0 0 0 1px #955280;
    outline: none;
}

.modal-profile-content button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}


.modal-profile-content .disabled-button-profile {
    cursor:not-allowed !important;
    background-color: #b62d2b;
    opacity: 0.3;
}

.modal-profile-content .active-button-profile {
    background-color: #b62d2b !important;
    border: #b62d2b;
}

.modal-profile-content .active-button-profile:hover {
    background-color: #ff3b3b !important;
}


#cancelarSuscripcion {
    display: none;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#logoutButton:hover {
    opacity: 1 !important;
    background-color: #b62a2a !important;
}

#cancelarSuscripcion:hover {
    opacity: 1 !important;
    background-color: #b62a2a !important;
}